Source: ice
Section: net
Priority: optional
Maintainer: Kendall Weaver <kendalltweaver@gmail.com>
Build-Depends: debhelper (>= 5.0.0)
Standards-Version: 3.8.4

Package: ice
Depends: python3, python3-gi, python3-requests, python3-bs4
Recommends: chromium-browser
Architecture: all 
Description:  Webapp integration with Peppermint Ice
 Front end for building single site browsers using
 Chromium, Chrome, or Firefox as a backend, allowing custom menu
 integration. 
